name: CI Workflow (Skilled)

on:
  push:
    branches: [ main ]

jobs:
  retrain_model:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: '3.10'

    - name: Install dependencies
      run: |
        conda env create -f MLProject/conda.yaml
        conda activate mlflow-project
        pip install mlflow

    - name: Run MLflow Project
      id: mlflow_run
      run: |
        conda activate mlflow-project
        mlflow run . --file MLProject/MLProject --no-conda
        echo "run_id=$(mlflow runs list --experiment-name 'Mental Health Prediction CI' --output=text | awk 'NR==2{print $1}')" >> $GITHUB_OUTPUT

    - name: Download MLflow Artifacts
      uses: actions/download-artifact@v3
      with:
        name: mlflow-artifacts
        path: mlflow-artifacts

    - name: Upload Model as Workflow Artifact
      uses: actions/upload-artifact@v3
      with:
        name: trained-model
        path: mlflow-artifacts/mlruns/0/${{ steps.mlflow_run.outputs.run_id }}/artifacts/best_random_forest_model/